.blueColor {
  color: #164e7a;
}
.bannedUser-Table {
  background-color: rgba(139, 192, 234, 0.1);
}
.bannedUser-Table .text-font {
  font-size: 17px;
  font-weight: 600;
}
/* un active */
.bannedUser-Table .banned-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 22px !important;
  min-width: 38px !important;
}

.bannedUser-Table .banned-switch .ant-switch-handle {
  margin: 1px ​0px 4px 0px !important;
}
.bannedUser-Table .banned-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #929292;
  box-shadow: none !important;
}
.bannedUser-Table .banned-switch .ant-switch-handle {
  top: 3px !important;
  width: 12px !important;
  height: 12px !important;
}

/* active switch */
.bannedUser-Table .active-switch .ant-switch-handle {
  margin: 1px ​0px 4px 0px !important;
}

.bannedUser-Table .active-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #ff0000;
  box-shadow: none !important;
}
.bannedUser-Table .active-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 22px !important;
  min-width: 38px !important;
}
.bannedUser-Table .active-switch .ant-switch-checked {
  border-color: #ff0000 !important;
  background-color: #fff;
  border: 2px solid #ff0000 !important;
  padding: 8px 0px !important;
  /* height: 28px !important;
  min-width: 50px !important; */
}
.bannedUser-Table .active-switch .ant-switch-handle {
  top: 3px !important;
  margin-left: 5px;
  width: 12px !important;
  height: 12px !important;
}
