.tableHeader .title-and-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 33px !important;
  min-width: 50px !important;
}
.tableHeader .title-and-switch .ant-switch-handle {
  margin: 4px 0px 4px 0px !important;
}
.tableHeader .title-and-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #929292;
  box-shadow: none !important;
  top: 2px!important;
  right: 2px!important;
  bottom: 2px!important;
  left: 2px!important;
}

/* active switch */
.tableHeader .active-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 33px !important;
  min-width: 50px !important;
}
.tableHeader .active-switch .ant-switch-handle {
  margin: 4px 0px 4px 0px !important;
}
.tableHeader .active-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #ff0000;
  box-shadow: none !important;
  top: 2px!important;
  right: 2px!important;
  bottom: 2px!important;
  left: 2px!important;
}
.tableHeader .active-switch .ant-switch-checked {
  border-color: #ff0000 !important;
}
