.mobileNav-component
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: fit-content !important;
  padding: 15px 25px !important;
}
.mobileNav-component
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-radius: 30px !important;
  background-color: rgba(139, 192, 234, 0.6);
  font-size: 20px;
  font-weight: normal;
}
.mobileNav-component .ant-select-arrow {
  right: 25px !important;
  color: rgba(0, 0, 0, 0.25) !important;
  font-size: 18px !important;
  top: 50% !important;
}
