@import "antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  color: #707070;
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-input {
  line-height: 2.5715;
}
.ant-btn {
  height: 3rem !important;
}
.clr-darkblue {
  color: #164e7a;
}
.bg-clr-darkblue {
  background-color: #164e7a;
}
.clr-skyblue {
  color: #8bc0ea;
}
.bg-clr-skyblue {
  background-color: #8bc0ea;
}
.clr-gray {
  color: #707070;
}
.bg-clr-gray {
  background-color: #e6e6e6;
}
.tag-bg-clr {
  background-color: rgba(139, 192, 234, 0.2);
}
