.blueColor {
  color: #164e7a;
}
.imageApproval-component {
  background-color: rgba(139, 192, 234, 0.1);
}
.imageApproval-component .text-font {
  font-size: 17px;
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .imageApproval-component .text-font {
    font-size: 12px;
  }
}
/* un active */
.imageApproval-component .banned-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 22px !important;
  min-width: 38px !important;
}

.imageApproval-component .banned-switch .ant-switch-handle {
  margin: 1px ​0px 4px 0px !important;
}
.imageApproval-component .banned-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #929292;
  box-shadow: none !important;
}
.imageApproval-component .banned-switch .ant-switch-handle {
  top: 3px !important;
  width: 12px !important;
  height: 12px !important;
}

/* active switch */
.imageApproval-component .active-switch .ant-switch-handle {
  margin: 1px ​0px 4px 0px !important;
}

.imageApproval-component .active-switch .ant-switch-handle::before {
  background-color: #fff;
  border: 2px solid #ff0000;
  box-shadow: none !important;
}
.imageApproval-component .active-switch .ant-switch {
  background-color: #fff;
  border: 2px solid #929292;
  padding: 8px 0px !important;
  height: 22px !important;
  min-width: 38px !important;
}
.imageApproval-component .active-switch .ant-switch-checked {
  border-color: #ff0000 !important;
  background-color: #fff;
  border: 2px solid #ff0000 !important;
  padding: 8px 0px !important;
}
.imageApproval-component .active-switch .ant-switch-handle {
  top: 3px !important;
  margin-left: 5px;
  width: 12px !important;
  height: 12px !important;
}

.imageApproval-component .delete-button svg {
  margin-bottom: 12px;
}

.imageApproval-component .dropDown svg{
  margin-bottom: 5px;
}