.ant-layout-header {
  background-color: white;
}
.header-component .ant-input-group-wrapper {
  display: -webkit-inline-box;
  vertical-align: middle;
}

.header-component .ant-input-search .ant-input-affix-wrapper {
  border-radius: 30px !important;
  box-shadow: 1px 4px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 5px;
}
.header-component .ant-input-group-addon {
  display: none;
}
.header-component .anticon {
  vertical-align: 1px;
}
.header-component input.ant-input {
  font-size: 16px;
  padding: 4px 0px 0px 0px !important;
}
